
# VERIFICATION

Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.

Binary file `vendir-windows-amd64.exe` comes from the following official release page :

https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v@VENDIR_VERSION@

The only included binary is :

```
@VENDIR_SHA-256@    ./vendir-windows-amd64.exe
```

