
# VERIFICATION

Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.

Binary file `vendir.exe` comes from the following official release page :

https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.19.0

The only included binary is :

```
846380db8bd3bba4a2a00268d94591fdee7d08d69af69ae7b59134f399178324    ./vendir-windows-amd64.exe
```

but renamed from `vendir-windows-amd64.exe` to `vendir.exe`.

