
# VERIFICATION

Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.

Binary file `vendir-windows-amd64.exe` comes from the following official release page :

https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.22.0

The only included binary is :

```
f175a4ed0fa941f330fe63db04585e96e1a23c165960c546a5a33f836e5c3d5a    ./vendir-windows-amd64.exe
```

