
# VERIFICATION

Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.

Binary file `vendir.exe` comes from the following official release page :

https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.20.0

The only included binary is :

```
c2767e0a5891d10a49b9b21a6dafd23fe1e47dde8be01ff91612ab4a956f8329    ./vendir-windows-amd64.exe
```

but renamed from `vendir-windows-amd64.exe` to `vendir.exe`.

