
# VERIFICATION

Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.

Binary file `vendir.exe` comes from the following official release page :

https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.21.1

The only included binary is :

```
2a3785280e7391c811280330a1558997c709ef4123f9bf5ff3e196c66d711906    ./vendir-windows-amd64.exe
```

but renamed from `vendir-windows-amd64.exe` to `vendir.exe`.

