
# VERIFICATION

Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.

Binary file `vendir.exe` comes from the following official release page :

https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.18.0

The only included binary is :

```
48bfe5c736ef99d3cd2b37ed5e317d800d8dbfa100eadc8c30f6b08b8fc107db    ./vendir-windows-amd64.exe
```

but renamed from `vendir-windows-amd64.exe` to `vendir.exe`.

