
# VERIFICATION

Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.

Binary file `vendir.exe` comes from the following official release page :

https://github.com/vmware-tanzu/carvel-vendir/releases/tag/v0.17.0

The only included binary is :

```
1971fbb93a48f3b7cdf5b695ac4c5b139aa9fa55e4248824abaf0b4289475a3b    ./vendir-windows-amd64.exe
```

but renamed from `vendir-windows-amd64.exe` to `vendir.exe`.

